DragHash.xcodeproj/project.xcworkspace/contents.xcworkspacedata
DragHash.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
DragHash.xcodeproj/xcuserdata/mac.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
DragHash.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/DragHash.xcscheme
DragHash.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/xcschememanagement.plist
build/
